.header {
  align-items: center;
  display: flex;
  height: 3.5rem;
  padding: 0 1rem;

  h1 {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
  }

  @media screen and (min-width: 996px) {
    grid-column-end: 3;
    grid-column-start: 1;
  }
}
